<div>

  <form #inputs="ngForm" class="wet-bulb__form">
    <div class="wet-bulb__temp-slider-section">
      <div class="wet-bulb__temp-slider-label">TEMP</div>
      <div class="wet-bulb__temp-slider">
        <div class="wet-bulb__temp-slider-line"></div>
        <div class="wet-bulb__temp-slider-value">15°C</div>
        <div class="wet-bulb__temp-slider-dot"></div>
      </div>
    </div>

    <div class="wet-bulb__humidity-slider-section">
      <div class="wet-bulb__humidity-slider-label">HUMIDITY</div>
      <div class="wet-bulb__humidity-slider">

        <label>
          <input name="humidity" [(ngModel)]="humidity" type="range" min="0" max="60" >
        </label>


        <div class="wet-bulb__humidity-slider-line"></div>
        <div class="wet-bulb__humidity-slider-value">46%</div>
        <div class="wet-bulb__humidity-slider-dot"></div>
      </div>
    </div>
  </form>

  <div class="wet-bulb__temp-section">
    <div class="wet-bulb__temp-label">WET BULB TEMP</div>
    <div class="wet-bulb__temp-wrapper">
      <div class="wet-bulb__temp">13°C</div>
      <div class="wet-bulb__emoji">😎</div>
    </div>
  </div>

  <div class="wet-bulb__blurb">
    The wet-bulb temperature is within the safe range.<br/>
    Your powers of evaporative cooling will still be working perfectly.
  </div>

</div>
