<!-- BACKGROUNDS -->
<div class="wet-bulb__background--fatal"
     [style.opacity]="$fatalOpacity | async">
</div>
<div class="wet-bulb__background--dangerous"
  [style.opacity]="$dangerousOpacity | async">
</div>
<div class="wet-bulb__background"></div>


<!-- HEADER -->
<div class="wet-bulb__header">
  <h1>WET BULB TEMPERATURE CALCULATOR</h1>
  <div class="wet-bulb__header-subtitle">
    <p>Originally inspired by <a href="https://www.omnicalculator.com/physics/wet-bulb">Julia Żuławińska’s</a> wet bulb calculator</p>
    <p>This wet bulb calculator is designed to help you estimate the wet bulb temperature based on only two pieces of data - the temperature 🌡️ and the relative humidity 💧.</p>
  </div>
</div>


<!-- INPUTS -->
<form #inputs="ngForm" class="wet-bulb__inputs">

  <div class="wet-bulb__input">
    <div class="wet-bulb__input-label">TEMP</div>
    <div class="wet-bulb_input-group">
      <input class="wet-bulb__input-number"
        [(ngModel)]="temperature"
        [style.width]="inputWidth"
        type="number"
        name="temperature"
        min="{{tempMin}}" max="{{tempMax}}">
      <select class="wet-bulb__input-unit"
        name="tempUnits"
        [(ngModel)]="tempUnits">
        <option value="celsius">°C</option>
        <option value="fahrenheit">°F</option>
      </select>
      <input class="wet-bulb__input-slider"
        name="temperature"
        [(ngModel)]="temperature"
        type="range"
        min="{{tempMin}}" max="{{tempMax}}">
    </div>
  </div>

  <div class="wet-bulb__input">
    <div class="wet-bulb__input-label">HUMIDITY</div>
    <div class="wet-bulb_input-group">
      <input class="wet-bulb__input-number"
       [(ngModel)]="humidity"
       [style.width]="inputWidth"
       name="humidity"
       type="number"
       min="5" max="99">
      <select class="wet-bulb__input-unit"
        name="humidUnits"
        [(ngModel)]="humidUnits">
        <option value="relativeHumidity">%</option>
      </select>
      <input class="wet-bulb__input-slider"
        name="humidity"
        [(ngModel)]="humidity"
        type="range"
        min="5" max="99">
    </div>
  </div>

</form>

<!-- OUTPUT -->
<div class="wet-bulb__outputs">
  <div class="wet-bulb__temp-label">WET BULB TEMP</div>
  <div class="wet-bulb__temp-wrapper">
    <div class="wet-bulb__temp">{{wetBulbTemp$ | async | temperature }}</div>
    <div class="wet-bulb__emoji">{{emoji$ | async}}</div>
  </div>
  <div class="wet-bulb__blurb">
    <p *ngFor="let sentence of (blurb$ | async)">{{sentence}}</p>
  </div>
</div>
