$ui-switch-breakpoint: 1000px;

wet-bulb:host {
  display: flex;
  font-family: IBM Plex Sans, sans-serif;
  color: white;
  flex-direction: column;
  min-height: calc(100% - 84px);
  padding: 42px 42px;
  flex-direction: column;

  @media screen and (min-width: $ui-switch-breakpoint) {
    flex-direction: row;
  }
}


/* CALCULATOR SECTION */
.wet-bulb__calculator {
  max-width: 520px;
  min-width: min(calc(100% - 84px), 520px);
}

/* Calculator Header */
.wet-bulb__header {
  padding-bottom: 12px;

  h1 {
    font-size: 36px;
    font-weight: 600;
  }

  .wet-bulb__header-subtitle {
    max-width: 600px;
  }

  p {
    font-size: 15px;
  }

  a {
    color: white;
  }
}

/* Calculator Inputs */
.wet-bulb__inputs {
  display: flex;
  flex-direction: column;
}

.wet-bulb__input {
  margin-bottom: 25px;
}

.wet-bulb__input-label {
  opacity: 0.8;
  font-size: 11px;
}

.wet-bulb_input-group {
  display: inline-flex;
  align-items: center;
}

.wet-bulb__input-number {
  font-size: 20px;
  margin: 2px;
  border: none;
  background: transparent;
  color: white;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.wet-bulb__input-unit {
  font-size: 20px;
  margin: 2px 8px 2px 2px;
  width: 2.5em;
  background: transparent;
  color: white;
  border: none;
  border-bottom: white 1px solid;

  option {
    color: black;
  }
}

.wet-bulb__input-slider {
  -webkit-appearance: none;
  width: 256px; /* 270px or 215px */
  height: 2px;
  color: white;
  max-width: 50vw;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 20px;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-color: white;
    background: white;
  }
}

/* Calculator Outputs */
.wet-bulb__outputs {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.wet-bulb__temp-label {
  opacity: 0.8;
  font-size: 11px;
}

.wet-bulb__temp-wrapper {
  height: 83px;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  display: flex
}

.wet-bulb__temp {
  font-size: 64px;
}

.wet-bulb__emoji {
  font-size: 62px;
}

.wet-bulb__blurb {
  font-size: 20px;
  min-height: 12em;
}


/* DESCRIPTION SECTION */
.wet-bulb__description {
  
  @media screen and (min-width: $ui-switch-breakpoint) {
    padding-left: 42px;
    padding-top: 9em;
    max-width: 50%;
  }
}

.wet-bulb__description-links {
  display: flex;
  flex-direction: column;
  text-underline-offset: 2px;
  padding-bottom: 2em;

  a {
    color: white;
  }
}

.wet-bulb__description-content {
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff44;
    border-radius: 20px;
  }

  @media screen and (min-width: $ui-switch-breakpoint) {
    height: calc(100vh - 25em);
    overflow-y: scroll;
    padding-right: 4px;
  }
}

.wet-bulb__description-sources {
  padding-left: 26px;

  a {
    color: white;
  }

  li {
    counter-increment: item;
  }

  li::marker {
    content: "[" counter(item) "] ";
  }
}
